<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mny">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MNY"
        android:usesCleartextTraffic="true">
        <activity android:name=".View.JoinActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.LoginActivity" android:exported="true" />
        <activity android:name=".View.MEditProfileActivity2" android:exported="true" />
        <activity android:name=".View.AddMarketActivity2" android:exported="true" />
        <activity android:name=".View.AddMarketActivity1" android:exported="true" />
        <activity android:name=".View.PickMarketActivity" android:exported="true" />
        <activity android:name=".View.CMainActivity" android:exported="true" />
        <activity android:name=".View.ShoppingBasketActivity" android:exported="true" />
        <activity android:name=".View.CEditProfileActivity" android:exported="true" />
        <activity android:name=".View.MEditProfileActivity1" android:exported="true" />
    </application>

</manifest>